{% extends "index.html" %}

{% block title %}
	Confirm New Password
{% endblock %}

{% block content %}
    {% if validlink %}
        <h2 style="width: 200px; margin: 0 auto; padding: 30px;">Set up a new password</h2>
        <form method="post" class="form-style">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Confirm Password Changes">
        </form>
    {% else %}
        <p>The password reset link you are using is invalid</p>
    {% endif %}
{% endblock %}